*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: #000;
}
img{
    width: 100%;
}
h1,h2,h3,h4,p,span,a{
    color:#fff;
}
h1{
    font-size: 2.3rem;
}
h2{
    font-size:2.1rem;
}
h3{
    font-size:1.9rem;
}
h4{
    font-size: 1.7rem;
}
p,span,a{
    font-size:1.6rem;
    text-decoration: none;
}
li{
    list-style: none;
}


#particles-js{
    height:100vh;
    width:100%;
    position:fixed;
    z-index:-1;
}

/* menu de la weib */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.web-logo img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.mobile-menu{
    display:none;
}
.menu{
    width: 100%;
    text-align: center;
    z-index: 11;
    padding: 10px 0;
}
.menuList li{
    display: inline-block;
    margin: 0 10px;
}
.allContainer{
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.438);
    z-index: 9;
}
/* banner de la página */
.bigbanner{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . ."
                         ". . . . ."
                         ". . . . ."
                         ". texto texto texto ."
                         ". . button . ."
                         ". . . . ."
                         ". . . . .";
}
.background{
    width: 400px;
    position: absolute;
    top: 150px;
    left:20%;
}
.text-banner{
    grid-area:texto;
    text-shadow:0 0 10px black;
    margin: auto;
    font-size: 35px;
    z-index: 10;
}
.banner-button {
    grid-area: button;
    background: #8e9db159;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 0 auto;
    width: 108px;
    height: 45px;
    z-index: 10;
}

.banner-button:hover{
    background: #8e9db199;
}
/* Productos */
.presentacionProductos{
    font-size: 30px;
    text-align:center;
}
.products{
    background-color:rgba(85, 85, 85, 0.37);
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.product{
    display:block;
    width: 320px;
    height: 350px;
    background: #33455C;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 5px 10px 5px;
}
.product:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color:rgb(144,144,144);
}
.product img{
    width: 90%;
    margin-top: 10px;
    border-radius: 15px;
}
.product-button{
    background: #9d8343;
    color:#fff;
    font-size:1.6rem;
    outline:none;
    border:2px solid #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 0 auto;
}

a.linkMasProductos{
    font-size: 30px;
}

/* Animaciones */

.animado{
    opacity: 0;
    transition: all 0.5s;
}
.mostraArriba{
    animation: mostrarArriba 1s;
}
.mostraAbajo{
    animation: mostrarAbajo 1s;
}
.mostraDerecha{
    animation: mostrarDerecha 1s;
}
.mostraIzquierda{
    animation: mostrarIzquierda 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes mostrarAbajo{
    0%{
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes mostrarDerecha{
    0%{
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes mostrarIzquierda{
    0%{
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0);
    }
}


/* redes sociales */
.social-media{
    width: 100%;
    height: 100vh;
    line-height: 50px;
    display: flex;
}
.allSocialContent{
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.titulo-social-media{
    font-size: 35px;
}
.lista-de-redes li{
    margin-top:50px;
    margin-bottom: 50px;
    list-style: none;
}
.lista-de-redes i{
    font-size: 50px;
}
.lista-de-redes i:hover{
    transform: scale(1.5);
    transition: .3s ease-in-out;
}


/* footer */
.footer
{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(68, 65, 65);
    color: #d6d6d6;
    text-align: center;
    padding: 10px 0;
}
.F-links
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.F-Link-contain
{
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.footer h1,.footer h2,.footer h3,.footer h4
{
    color:var(--FootTitleCol);
}
.footer a
{
    color: var(--FootACol);
}
.footer span
{
    color: var(--FootCopyR);
    margin-bottom: 10px;
}

/* Cookies */
.aviso-cookies 
{
    display: none;
    background: #fff;
    padding: 20px;
    width: calc(100% - 48px);
    max-width: 300px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
    text-align: center;
}
.aviso-cookies.activo
{
    display:block;
}
.aviso-cookies .galleta
{
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.titulo_cookies
{
    margin-bottom: 15px;
}
.parrafo_cookies
{
    color: #000;
    margin-bottom: 15px;
}
.btn-aceptar-cookies
{
    width: 100%;
    background: #595959;
    border: none;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
.btn-aceptar-cookies:hover
{
    background-color: black;
}
a.enlace-cookies
{
    color: #4DBFFF;
    text-decoration: none;
    font-size: 15px;
}
a.enlace-cookies:hover
{
    text-decoration: underline;
}
.fondo-aviso-cookies
{
    display: none;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    overflow-x: none;
}
.fondo-aviso-cookies.activo 
{
    display: block;
}

/* Breakpoints */
@media(max-width: 768px){
    .bigbanner{
        grid-template-areas: ". . . . ."
                         ". . . . ."
                         ". . . . ."
                         "texto texto texto texto texto"
                         ". . button . ."
                         ". . . . ."
                         ". . . . .";
    }
    .mobile-menu{
        display:flex;
        position: fixed;
        bottom: 45px;
        right: 20px;
        border-radius: 50%;
        font-size: 23px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        z-index: 12;
        align-items: center;
        justify-content: center;
    }
    .menu{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 1000px;
        background-color: #2b2a2ad1;
    }
    .show
    {
        display: block;
        position: fixed;
    }
    .menu ul
    {
        margin-top: 48px;
        text-align:left;
    }    
    .menu li
    {
        display: block;
        margin: 10px 20px;
    }
    .menu li a
    {
        font-size: 2.5rem;
    }
    .background{
        width: 300px;
        top: 150px;
        left:100px;
    }
    .allContainer{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .F-links{
        display: inline-block;
        width: 100%;
    }
    @keyframes mostrarArriba{
        0%{
            transform: translateY(30px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes mostrarAbajo{
        0%{
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes mostrarDerecha{
        0%{
            transform: translateX(30px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes mostrarIzquierda{
        0%{
            transform: translateX(-30px);
        }
        100% {
            transform: translateX(0);
        }
    }
}
@media(max-width: 500px){
    .background{
        width: 300px;
        top:90px;
        left: 20px;
    }
}